# EditorConfig helps maintain consistent coding styles between editors and IDEs

root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80 # soft limit; for readability

[*.sh]
indent_style = space
indent_size = 2

[*.{conf}]
indent_style = space
indent_size = 4
